<section>
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" ng-click="closeModal()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
			<h4 class="modal-title text-center">Confirm Order</h4>
		</div>
		<div class="modal-body">
			<h5>Do you confirm placing this order?</h5>
			<button class="btn btn-danger btn-md" ng-click="no()">No</button>
			<button class="btn btn-success btn-md" ng-click="yes()">Yes</button>
		</div>
	</div>
</section>