<div class="row">
	<div class="col-md-12" ng-if="!orders.length">
		<h4 class="alert alert-danger">No orders found!</h4>
	</div>
	<div class="col-md-12" ng-if="orders.length">
		<div class="panel panel-default ">
			<h5 class="alert alert-default text-center">{{orders[0].customer}} <br> {{orders[0].email}} <br> {{orders[0].mobilePhone}}</h5>
		</div>
		<br />
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th class="text-center">Product</th>
						<th class="text-center">Price</th>
						<th class="text-ecnter">Qty</th>
						<th class="text-center">Date</th>
					</tr>
				</thead>
				<tbody ng-repeat="order in orders" ng-repeat="order in orders" class="no-animate">
					<tr>
						<td class="text-center">{{order.name}}</td>
						<td class="text-center">{{order.currentPrice}}</td>
						<td class="text-center">{{order.qty}}</td>
						<td class="text-center">{{order.created | date: 'MMMM dd yyyy, h:mm:ss a'  }}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>