<div class="row">
	<div class="col-md-12">
		<h4 class="alert alert-danger" ng-if="!info.user.firstName">User not found!</h4>
	</div>
	<div class="col-md-12" ng-if="info.user.firstName">
		<h4 style="color: #D9D9D9;">{{info.user.firstName}} {{info.user.lastName}}</h4>
		<hr class="hr"/>
		<h5 style="color: #D9D9D9;">Email: {{info.user.email || '----' }}</h5>
		<h5 style="color: #D9D9D9;">Mobile Phone: {{info.user.mobilePhone || '----' }}</h5>
	</div>
	<div class="col-md-12" ng-if="info.event.length">
		<table class="table">
			<thead>
				<tr>
					<th style="color: #D9D9D9;">Event</th>
					<th style="color: #D9D9D9;">Description</th>
					<th style="color: #D9D9D9;">Date</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="event in info.event">
					<td style="color: #D9D9D9;"><a ui-sref="admin.eventDetail({id: event._id})">{{event.name}}</a></td>
					<td style="color: #D9D9D9;">{{event.desc}}</td>
					<td style="color: #D9D9D9;">{{event.date | date: 'dd/MM/yyyy'}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>