<div class="row">
	<div class="row add-space">
		<div class="col-md-4">
			<div class="panel panel-default ">
				<h4 class="alert alert-default text-center">Total Products <br/> {{totalProducts}}</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<h4 class="alert alert-default text-center">Total Orders <br/> {{totalOrders}}</h4>
			</div>
		</div>
		<div class="col-md-4">
			<div class="panel panel-default ">
				<h4 class="alert alert-default text-center">Total Orders Quantity <br/> {{totalOrdersQty}}</h4>
			</div>
		</div>
	</div>
	<hr class="hr" />
	<div class="row add-space">
		<div class="col-md-6">
			<h4 class="text-center">Products</h4>
			<canvas id="bar" class="chart chart-bar"
				data="bar.data" labels="bar.labels">
			</canvas>	
		</div>
		<div class="col-md-6">
			<h4 class="text-center">Customers/Users</h4>
			<canvas id="pie" class="chart chart-pie"
				data="pie.data" legend="true" labels="pie.labels">
			</canvas>
		</div>
	</div>
	<div class="row add-space">
		<div class="col-md-6">
			<h4 class="text-center">Customers Gender</h4>
			<canvas id="doughnutGender" class="chart chart-doughnut"
				data="doughnutGender.data" legend="true" labels="doughnutGender.labels">
			</canvas>
		</div>
		<div class="col-md-6">
			<h4 class="text-center">Customers Age Group</h4>
			<canvas id="doughnutAge" class="chart chart-doughnut"
				data="doughnutAge.data" legend="true" labels="doughnutAge.labels">
			</canvas> 
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<canvas id="line" class="chart chart-line" data="line.data" labels="line.labels" 
  				legend="true" series="line.series">
  			</canvas> 
		</div>
	</div>
</div>