<div class="row">
	<div class="col-md-12">
		<input type="text" ng-model="searchUser" class="form-control" placeholder="Search Users">
		<br />
		<table class="table">
			<thead>
				<tr>
					<th class="text-center">Full Name</th>
					<th class="text-center">MobilePhone</th>
					<th class="text-center">Email</th>
				</tr>
			</thead>
			<tbody>
				<tr class="no-animate" ng-repeat="user in users | filter:searchUser">
					<td class="text-center">
						<a ui-sref="admin.userDetail({id: user._id})">{{user.firstName}} {{user.lastName}}</a>
					</td>
					<td class="text-center">{{user.mobilePhone || '------'}}</td>
					<td class="text-center">{{user.email}}</td>
				</tr>
			</tbody>
		</table>
	</div>	
</div>
